<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
  <h1>Join N Club</h1>

  <div class="auth-forms">
    <div class="form-container" id="signup-form">
      <h2>Sign Up</h2>
      <form id="registerForm">
        <input type="text" id="full_name" placeholder="Full Name" required />
        <input type="email" id="email" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <input type="password" id="password2" placeholder="Confirm Password" required />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  <div id="response-message"></div> 
  <script src="/static/js/signup.js"></script>
</body>
</html>